.write {
  margin: 0 2em;
}

.write img {
  width: 100%;
  height: 300px;
  object-position: center top;
  object-fit: cover;
  border-radius: 20px;
  margin: 4em 0;
}

.write-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  margin-bottom: 4em;
  box-shadow: 0 0 30px #ddd;
}

.write-form-group {
  display: flex;
  align-items: center;
}

.write-form-group .fa-plus {
  border: 1px solid #999;
  color: #444;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
}

.write-form-group .fa-plus:hover {
  background: #ddd;
}

.write-title {
  font-size: 1.5rem;
}

.write-form, input, textarea {
  border: 1px solid #ddd;
}

.write-form, input, textarea:focus {
  outline: none;
}

.write-text {
  min-width: 400px;
  height: 250px;
  font-size: 1.2rem;
}

input, textarea {
  width: 300px;
  margin-left: 1em;
  padding: 1em;
  border-radius: 5px;
}

.write-submit {
  padding: 1em 3em;
  border-radius: 10px;
  border: none;
  background: #5ea4c0;
  color: #fff;
  height: 100%;
  justify-self: flex-end;
  cursor: pointer;
}

.write-submit:hover {
  background: #4285a0;
}