.side-bar {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.side-bar-item {
  display: flex;
  flex-direction: column;
  background: rgb(247, 243, 243);
  padding: 1em;
}

.side-bar img {
  width: 100%;
}

.side-bar-title {
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0;
  display: block;
  background: #fff;
  padding: 1em;
  font-weight: bold;
  color: #444;
}

.side-bar p {
  padding: 1em 0 0 1em;
  display: flex;
}

.side-bar-list {
  list-style: none;
  max-width: 80%;
  margin: 0 auto;
}

.side-bar-list-item {
  display: flex;
  display: inline-block;
  width: 50%;
  margin-bottom: 1em;
  cursor: pointer;
}

.side-bar-list-item:hover {
  text-decoration: underline;
}

.side-bar .side-bar-social {
  font-size: 2rem;
  display: flex;
  gap: .5em;
  justify-content: center;
}